{% extends "base.html" %}

{% block content %}
    {% if user.is_authenticated %}

    <section class="add-recipe center">
        <form  method="post" enctype="multipart/form-data" class="add-recipe__form">
            {% csrf_token %}

            <div class="add-recipe__form__first-block">
                {{ form.non_field_errors }} <!-- Для ошибок формы -->     
                {{ form.name.label }} <p class="add-recipe__form__first-block__name">{{ form.name }}</p>

                <p>Выбирите изображение</p> <p class="add-recipe__form__first-block__img">{{ form.image }}</p>
                {{ form.image.errors }}

                {{ form.short_description.label }} <p class="add-recipe__form__first-block__short-description">{{ form.short_description }}</p>                           
            </div>

            <!-- Категории -->

            <div class="add-recipe__form__second-block">
                <div><p>Выбирите категории</p></div>
                <div class="add-recipe__form__second-block__categories">
                    {% for category in form.fields.categories.queryset %}
                        {% if not category.parent and category.name != 'Калорийность на 100г.' and category.name != 'Время приготовления' %}
                        <div class="add-recipe__form__second-block__categories__content">
                            <p class="add-recipe__form__second-block__categories__title"><strong>{{ category.name }}</strong></p>
                            {% for subcategory in category.get_children %}
                                <input 
                                    type="checkbox" 
                                    name="categories" 
                                    value="{{ subcategory.id }}" 
                                    id="category_{{ subcategory.id }}"
                                    {% if subcategory.id in selected_categories %}
                                        checked 
                                    {% endif %}
                                    
                                />
                                <label for="category_{{ subcategory.id }}">
                                    {{ subcategory.name }}
                                </label><br>
                            {% endfor %}                        
                        </div> 
                            
                        {% endif %}
                    {% endfor %}                    
                </div>

            </div>

            <div class="add-recipe__form__third-block">
                {{ form.cooking_time.label }} в минутах <p class="add-recipe__form__third-block__cooking-time">{{ form.cooking_time }}</p>

                {{ form.quantity_of_servings.label }} <p class="add-recipe__form__third-block__quantity-of-servings">{{ form.quantity_of_servings }}</p>                
            </div>


            <div id="ingredient-forms" class="add-recipe__form__fourth-block">
                {{ ingredient_formset.management_form }}
                <h2 class="add-recipe__form__fourth-block__title"></h2>
                {% for form in ingredient_formset %}
                    
                    <div class="ingredient-form">
                        <div class="ingredient-form__content">
                            {{ form.product.label }} <p class="ingredient-form__content__product">{{ form.product }}</p>
                        </div>
                        <div class="ingredient-form__content-second">
                            {{ form.quantity.label }} <p class="ingredient-form__content-second__quantity">{{ form.quantity }}</p>

                            {{ form.unit_of_measurement.label }} <p class="ingredient-form__content-second__unit-of-measurement">{{ form.unit_of_measurement }}</p>                            
                        </div>
                        <input class="delete-checbox" type="checkbox" name="{{ form.prefix }}-DELETE" id="{{ form.prefix }}-DELETE" hidden>

                        <button type="button" class="delete-form">Удалить ингредиент</button>

                    </div>
                {% endfor %}

            </div>
            
            <!-- Шаблон для новой формы ингредиента (скрыт) -->
            <div class="ingredient-form-template" style="display: none;">
                <div class="ingredient-form">
                    <div class="ingredient-form__content">
                        {{ ingredient_formset.empty_form.product.label }} <p class="ingredient-form__content__product">{{ ingredient_formset.empty_form.product }}</p>
                    </div>
                    <div class="ingredient-form__content-second">
                        {{ ingredient_formset.empty_form.quantity.label }} <p class="ingredient-form__content-second__quantity">{{ ingredient_formset.empty_form.quantity }}</p>

                        {{ ingredient_formset.empty_form.unit_of_measurement.label }} <p class="ingredient-form__content-second__unit-of-measurement">{{ ingredient_formset.empty_form.unit_of_measurement }}</p>                            
                    </div>
                    <input class="delete-checbox" type="checkbox" name="{{ form.prefix }}-DELETE" id="{{ form.prefix }}-DELETE" hidden>

                    <button type="button" class="delete-form">Удалить ингредиент</button>
                </div>
            </div>
            
        
            <div class="add-recipe__form__fifth-block">
                    <button type="button" id="add-ingredient">Добавить ингредиент</button>                
                <div class="add-recipe__form__fifth-block__content">
                    <p>Не нашли продукт?</p>
                    <a href="{% url 'add_product' %}">Добавить свой продукт</a>                
                </div>
            </div>

 

            <div id="step-forms" class="add-recipe__form__sixth-block">
                {{ step_formset.management_form }}
                {% for form in step_formset %}
                    <div class="step-form add-recipe__form__sixth-block__step-form">
                        {{ form.text.label }} <p>{{ form.text }}</p>

                        <button type="button" class="delete-step-form add-recipe__form__sixth-block__delete-button">Удалить шаг</button>
                    </div>
                {% endfor %}
            </div>
            
            <!-- Шаблон для новой формы ингредиента (скрыт) -->
            <div class="step-form-template" style="display: none;">
                <div class="step-form add-recipe__form__sixth-block__step-form">
                    {{ step_formset.empty_form.text.label }} {{ step_formset.empty_form.text }}


                    <button type="button" class="delete-step-form">Удалить шаг</button>
                </div>
            </div>
            
        
            <button type="button" id="add-step" class="add-step-form">Добавить шаг</button>

            <button type="submit" class="submit-recipe-form">Добавить рецепт</button>
            <br>
            <br>
        </form>        
    </section>



        <!-- Select2 scripts -->
        <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        
        <script>
            $(document).ready(function() {
                function initializeProductSelect2() {
                    $('[id^="id_recipe_ingredients-"][id$="-product"]').each(function() {
                        $(this).select2({
                            placeholder: "",
                            // allowClear: false, // подумать насчет крестика
                            ajax: {
                                url: '/recipies/product-autocomplete/',  // Здесь укажите путь к вашему API для получения списка продуктов
                                dataType: 'json',
                                delay: 250,  // Уменьшите задержку, если необходимо
                                processResults: function (data) {
                                    // Ограничиваем количество продуктов до 5
                                    var limitedData = data.slice(0, 5);
                                    
                                    return {
                                        results: limitedData.map(function(item) {
                                            return {
                                                id: item.id,   // Замените на поле, которое представляет уникальный идентификатор продукта
                                                text: item.name  // Замените на поле, которое содержит название продукта
                                            };
                                        })
                                    };
                                },
                                cache: true
                            }
                        });
                    });
                }
        
                // Инициализируем select2 при загрузке страницы
                initializeProductSelect2();
        
                // Инициализация select2 для новых элементов после добавления формы
                $('#add-ingredient').click(function() {
                    initializeProductSelect2();
                });
        
                // Инициализация select2 для удаленных элементов
                $('#ingredient-forms').on('click', '.delete-form', function() {
                    initializeProductSelect2();
                });
            });
        </script>
        
        <!-- Добавить и удалить ингридиенты и шаги -->
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                // для ингридиентов
                const ingredientFormsContainer = document.getElementById('ingredient-forms');
                const ingredientTemplate = document.querySelector('.ingredient-form-template').cloneNode(true);
                ingredientTemplate.style.display = 'block';
                let totalFormsInput = document.querySelector('#id_recipe_ingredients-TOTAL_FORMS');
                if (totalFormsInput) {
                    let formCount = parseInt(totalFormsInput.value);
                } else {
                    console.error("TOTAL_FORMS element not found");
                }

                // для шагов
                const stepFormsContainer = document.getElementById('step-forms');
                const stepTemplate = document.querySelector('.step-form-template').cloneNode(true);
                stepTemplate.style.display = 'block';

                let totalFormsStepInput = document.querySelector('#id_recipe_steps-TOTAL_FORMS');
                if (totalFormsStepInput) {
                    let formCountStep = parseInt(totalFormsStepInput.value);
                } else {
                    console.error("TOTAL_FORMS element not found");
                }

                // для ингридиентов
                let formCount = parseInt(document.querySelector('#id_recipe_ingredients-TOTAL_FORMS').value);
                document.getElementById('add-ingredient').addEventListener('click', function () {
                    // Клонируем шаблон формы
                    const newForm = ingredientTemplate.cloneNode(true);
        
                    // Обновляем индексы имен полей в новой форме
                    newForm.innerHTML = newForm.innerHTML.replace(/__prefix__/g, formCount);
                    ingredientFormsContainer.appendChild(newForm);
        
                    formCount++;
                    // Обновляем значение поля total_forms в Management Form
                    const totalFormsEl = document.querySelector('#id_recipe_ingredients-TOTAL_FORMS');
                    totalFormsEl.value = formCount;  // Исправлено здесь
                });
        

                // для шагов

                let formCountStep = parseInt(document.querySelector('#id_recipe_steps-TOTAL_FORMS').value);
                document.getElementById('add-step').addEventListener('click', function () {
                    // Клонируем шаблон формы
                    const newStepForm = stepTemplate.cloneNode(true);
        
                    // Обновляем индексы имен полей в новой форме
                    newStepForm.innerHTML = newStepForm.innerHTML.replace(/__prefix__/g, formCountStep);
                    stepFormsContainer.appendChild(newStepForm);
        
                    formCountStep++;
                    // Обновляем значение поля total_forms в Management Form
                    const totalFormsStepEl = document.querySelector('#id_recipe_steps-TOTAL_FORMS');
                    totalFormsStepEl.value = formCountStep;  // Исправлено здесь
                });

                // для ингридиентов
                // Удаление формы при нажатии на "Удалить"
                ingredientFormsContainer.addEventListener('click', function (e) {
                    if (e.target.classList.contains('delete-form')) {
                        e.target.closest('.ingredient-form').remove();





                        // Обновляем значения индексов форм
                        const forms = ingredientFormsContainer.querySelectorAll('.ingredient-form');
                        forms.forEach((form, index) => {
                            // Обновляем индексы в полях формы
                            form.querySelectorAll('input, select, textarea').forEach((input) => {
                                input.name = input.name.replace(/-\d+-/, `-${index}-`);
                                input.id = input.id.replace(/-\d+-/, `-${index}-`);
                            });
                        });

                        formCount--;
                        // Обновляем значение поля total_forms при удалении
                        document.querySelector('#id_recipe_ingredients-TOTAL_FORMS').value = formCount;  // Исправлено здесь
                    }
                });


                // для шагов
                // Удаление формы при нажатии на "Удалить"
                stepFormsContainer.addEventListener('click', function (e) {
                    if (e.target.classList.contains('delete-step-form')) {
                        e.target.closest('.step-form').remove();


                        // Обновляем значения индексов форм
                        const stepForms = StepFormsContainer.querySelectorAll('.step-form');
                        stepForms.forEach((form, index) => {
                            // Обновляем индексы в полях формы
                            form.querySelectorAll('input, select, textarea').forEach((input) => {
                                input.name = input.name.replace(/-\d+-/, `-${index}-`);
                                input.id = input.id.replace(/-\d+-/, `-${index}-`);
                            });
                        });

                        formCountStep--;
                        // Обновляем значение поля total_forms при удалении
                        document.querySelector('#id_recipe_steps-TOTAL_FORMS').value = formCountStep;  // Исправлено здесь
                    }
                });
            });
        </script>
        
    {% endif %}

{% endblock content %}

