{% extends "base.html" %}

{% block content %}

    {% if user.is_authenticated %}

    <section class="add-product center">
        <form  method="post" enctype="multipart/form-data"  class="add-product__form">
            {% csrf_token %}

            {{ form.non_field_errors }} <!-- Для ошибок формы -->
            <div class="add-product__form__content">
                {{ form.name.label }} {{ form.name }}
            </div>
            <div class="add-product__form__content">
                {{ form.calories.label }} {{ form.calories }}
                {{ form.calories.errors }}
            </div>
            <div class="add-product__form__content">
                {{ form.fats.label }} {{ form.fats }}
                {{ form.fats.errors }}
            </div>
            <div class="add-product__form__content">
                {{ form.carbohydrates.label }} {{ form.carbohydrates }}
                {{ form.carbohydrates.errors }}
            </div>
            <div class="add-product__form__content">
                {{ form.proteins.label }} {{ form.proteins }}
                {{ form.proteins.errors }}
            </div>

            <button type="submit" class="add-product__form-button">Добавить продукт</button>

        </form>
    </section>
    {% endif %}

{% endblock content %}