{% extends "base.html" %}

<body>

    {% block content %}

    <section class="recipe center">
        <div class="recipe__card">
            <div class="recipe__card__img-container">
                <img src="/media/{{ recipe.image }}" alt="Product image">          
            </div>
            <div class="recipe__card__description">
                <h2 class="recipe__card__description__title">
                    {{ recipe.name }}
                </h2>
            </div>
            <div class="recipe__card__cocking-time">
                <div class="recipe__card__cocking-time__preparation">
                    <svg width="64px" height="64px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M12 7V12L13.5 14.5M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                    <p class="recipe__card__cocking-time__preparation__title">
                        {{ recipe.cooking_time_text }}
                    </p>
                </div>
                <div class="recipe__card__cocking-time__preparation">
                    <svg width="64px" height="64px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" stroke="#ffffff"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path d="M12 7V12L13.5 14.5M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12Z" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> </g></svg>
                    <p class="recipe__card__cocking-time__preparation__title">
                        {{ recipe.quantity_of_servings }} порций
                    </p>
                </div>
            </div>
            <div class="recipe__card__author">
                <h1 class="recipe__card__author__title">
                    Автор: <span class="recipe__card__author__title-span">
                        {% if recipe.author.first_name and recipe.author.last_name %}

                        {{ recipe.author.first_name }} {{ recipe.author.last_name }}
    
                        {% else %}
        
                            {{ recipe.author.username }}
        
                        {% endif %}
                    </span>
                </h1>
            </div>
            <div class="recipe__card__nutritional-value">
                <div class="recipe__card__nutritional-value__description-box">
                    <div class="recipe__card__nutritional-value__description">
                        <p class="recipe__card__nutritional-value__description__title">
                            Калории
                        </p>
                        <p class="recipe__card__nutritional-value__description__subtitle">
                            {{ recipe.recipe_calories}} кК
                        </p>
                    </div>
                    <div class="recipe__card__nutritional-value__description">
                        <p class="recipe__card__nutritional-value__description__title">
                            Белки
                        </p>
                        <p class="recipe__card__nutritional-value__description__subtitle">
                            {{ recipe.recipe_proteins}} г
                        </p>
                    </div>   
                    <div class="recipe__card__nutritional-value__description">
                        <p class="recipe__card__nutritional-value__description__title">
                            Жиры
                        </p>
                        <p class="recipe__card__nutritional-value__description__subtitle">
                            {{ recipe.recipe_fats}} г
                        </p>
                    </div>   
                    <div class="recipe__card__nutritional-value__description">
                        <p class="recipe__card__nutritional-value__description__title">
                            Углеводы
                        </p>
                        <p class="recipe__card__nutritional-value__description__subtitle">
                            {{ recipe.recipe_carbohydrates}} г
                        </p>
                    </div>                           
                </div>
                <div class="recipe__card__nutritional-value__spoiler">
                    <p class="recipe__card__nutritional-value__spoiler__title">
                        Пищевая ценность на 100г, калорийность рассчитана для сырых продуктов и носит справочный характер
                    </p>
                </div>
            </div>
            <div class="recipe__card__short-description">
                <p class="recipe__card__short-description__title">
                    {{ recipe.short_description }}
                </p>
            </div>
            <h2 class="recipe__card__ingridients__title">
                Ингридиенты:
            </h2>
            <div class="recipe__card__ingridients">


                <div class="recipe__card__ingridient">
                    {% for ingridient in ingredients %}
                        <div class="recipe__card__ingridient-box">
                            <div>
                                {{ forloop.counter }}. {{ ingridient.product }}                                
                            </div>
                            <div>
                                {% if ingridient.unit_of_measurement == 'По вкусу' %}
                                    {{ ingridient.unit_of_measurement }}
                                {% else %}
                                    {{ ingridient.quantity }}
                                    {{ ingridient.unit_of_measurement }} 
                                {% endif %}
                            </div>
                        </div>


                    {% endfor %}
                </div>

                
            </div>
            
            <h2 class="recipe__card__cooking-steps__title">
                Шаги приготовления:
            </h2>
            <div class="recipe__card__cooking-steps">
                {% for step in steps %}
                    <div class="recipe__card__cooking-steps__step">
                        <h2 class="recipe__card__cooking-steps__step__title">
                            Шаг {{ forloop.counter }}
                        </h2>
                        <p class="recipe__card__cooking-steps__step__subtitle">
                            {{ step.text }}
                        </p>
                    </div>
                {% endfor %}
            </div>
            {% if user.is_authenticated %}
                <a href="{% url 'lk_page' pk=user.pk %}">
                    Вернуться к рецептам
                </a>
                {% else %}
                <a href="{% url 'home_page' %}">
                    Вернуться к рецептам
                </a>
            {% endif %}

        </div>
    </section>

    {% endblock content %}
    
</body>
</html>