{% extends "base.html" %}

<body>

    {% block content %}

    <section class="login-page center">
        <form method="post" class="login-page__form" novalidate>

            {% csrf_token %}

            <h2 class="login-page__title">Вход в личный кабинет</h2>

            {% for field in form %}
                <div class="login-page__form__content">
                    <p class="login-page__form__content__label">
                        {{ field.label_tag }}                        
                    </p>
                    <p class="login-page__form__content__input">
                        {{ field }}                    
                    </p>
                </div>
                {% if field.errors %}
                    <small class="login-page__form__content__small">{{ field.errors|striptags }}</small> 
                {% endif %}
            {% endfor %}
            <button type="submit" class="login-page__form__submit-button">
                Войти
            </button>
            {% if form.non_field_errors %}
            <div class="login-page__form__wrong-data">
                    <p class="login-page__form__wrong-data__subtitle">
                        Подьзователь с таким именем и паролем не найден, убедитесь в правильности ввода данных.
                    </p>
            </div>
            {% endif %}   
            <p class="login-page__form__reset-link">Забыли пароль? <a href="#">Сбросить пароль</a></p>
            <p class="login-page__form__create-link">Еще нет аккаунта? <a href="{% url 'registration_page' %}">Зарегестрироваться</a></p>
                   

        </form>
    </section>

    {% endblock content %}


</body>

</html>