{% extends "base.html" %}

<body>

    {% block content %}

    <section class="login-page center">
        <h2 class="login-page__title">сброс пароля</h2>
        <form method="post" class="login-page__form">

            {% csrf_token %}
            {% for f in form%}
            <p>
                <label class="form-label" for="{{ f.id_for_label }}">
                    {{ f.label }}:
                </label>
                {{ f }}
            </p>
            <div class="form-error">
                {{ f.errors }}
            </div>

            {% endfor %}

                <p>
                    <button type="submit">
                        Сбросить по E-mail
                    </button>
                </p>
                   
        </form>
    </section>

    {% endblock content %}


</body>

</html>