{% extends "base.html" %}

{% block content %}

<section class="password-reset-confirm center">
    <h2 class="password-reset-confirm__title">Новый пароль</h2>
    <form method="post" class="password-reset-confirm__form">
        {% csrf_token %}

        <div class="password-reset-confirm__form__content">
            {{ form.new_password1.label }} {{form.new_password1}}
        </div>
        <div class="password-reset-confirm__form__content">
            {{ form.new_password2.label }} {{form.new_password2}}
        </div>
        <div class="password-reset-confirm__form__content">
            {{ form.errors }}
        </div>

        <button type="submit" class="password-reset-confirm__button">Сохранить</button>
               
    </form>
</section>

{% endblock content %}