{% extends "base.html" %}

<body>

    {% block content %}

    <section class="password-reset center">
        <h2 class="password-reset__title">Запрос на востановление пароля</h2>
        <form method="post" class="password-reset__form">

            {% csrf_token %}
            <div class="password-reset__form__content">
                Email: {{form.email}}
            </div>
            <div class="password-reset__form__content">
                {{ form.errors }}
            </div>

            <button type="submit" class="password-reset__button">Сбросить пароль</button>
                   
        </form>
    </section>

    {% endblock content %}


</body>

</html>