{% extends "base.html" %}

<body>

    {% block content %}
    <section class="registration center">
        <div class="registration__data">
            <div class="registration__personal-info">
                <h2 class="registration__title">Регистрация</h2>
                <form class="registration__form" method="post">
                    {% csrf_token %}

                    {{ form.as_p }}

                    <button class="registration__button" type="submit">Зарегистрироваться</button>
                </form>
            </div>
        </div>
    </section>

    {% endblock content %}

</body>

