{% extends "base.html" %}

<body>

    {% block content %}
    <section class="registration center">
        <div class="registration__data">
            <div class="registration__personal-info">
                <h2 class="registration__title">Регистрация</h2>
                <form class="registration__form" method="post">
                    {% csrf_token %}

                    {{ form.as_p }}

                    <button class="registration__button" type="submit">Зарегистрироваться</button>
                </form>
            </div>
        </div>
        <div class="registration__advertising">
            <h2 class="registration__adv-title">Зарегистрированным пользователям доступны следующие возможности:</h2>
             <ul class="registration__ul">
                 <li class="registration__li">Добавлять свои рецепты на сайт
                  </li>
                  <li class="registration__li">Добавлять понравившиеся рецепты в избранное и всегда иметь их под рукой
                  </li>
                <li class="registration__li">Оставлять комментарии к рецептам пользователей
                 </li>
                 <li class="registration__li">Формировать список продуктов для покупки</li>
              </ul>
         </div>
    </section>

    {% endblock content %}

</body>

