{% extends "base.html" %}

{% block content %}


<section class="user-password-change center">
  <h2 class="user-password-change__title">Изменение пароля</h1>
  <div>
      <form method="post" class="user-password-change__form">
          {% csrf_token %}
          <div class="user-password-change__form__content">
              {{form.old_password.label}} {{form.old_password}}
          </div>
          <div class="user-password-change__form__content">
              {{form.new_password1.label}} {{form.new_password1}}
          </div>
          <div class="user-password-change__form__content">
            {{form.new_password2.label}} {{form.new_password2}}
          </div>

          <button type="submit" class="user-password-change__button">Изменить пароль</button>
      </form>
  </div> 
</section>

{% endblock %}