{% extends "base.html" %}


{% block content %}

<section class="user-update center">
    <h2 class="user-update__title">Обновите информацию о пользователе</h1>
    <div>
        <form method="post" class="user-update__form">
            {% csrf_token %}
            <div class="user-update__form__content">
                {{form.first_name.label}} {{form.first_name}}
            </div>
            <div class="user-update__form__content">
                {{form.last_name.label}} {{form.last_name}}
            </div>
            <div class="user-update__form__content">
                {{form.username.label}} {{form.username}}
            </div>
            <div class="user-update__form__content">
                {{form.email.label}} {{form.email}}
            </div>

            <a href="{% url 'password_change' %}" class="user-update__link">
                Изменить пароль
            </a>

            <button type="submit" class="user-update__button">Обновить информацию</button>
        </form>
    </div> 
</section>

{% endblock content %}