$mainFont: 'Lato', sans-serif;
$uhdResolution: 2560px;
$fhdResolution: 1920px;
$hdResolution: 1600px;
$hResolution: 1200px;
$tabletResolution: 768px;
$mobileBigResolution: 480px;
$mobileSmallResolution: 320px;
$menuColor: #312a28;
$backgroundColor: #3a3330;
$cardStartGradientBgColor: #422f21;
$cardEndGradientBgColor: #281a0f;
$aboutStoreBgColor: #F1E4E6;
$mainTextFillColor: #f16d7f;


// color: rgb(255, 255, 255);
// font-size: 20px;
// font-weight: 400;
