//tablet css

.center {
    padding-left: calc(50% - $tabletBigResolution / 2);
    padding-right: calc(50% - $tabletBigResolution / 2);
} 

.header-container__left__filter-description {
    justify-content: center;
    flex-wrap: wrap;
}

.header-container {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
} 

.header-container__left {
    padding-left: 0;
    flex-wrap: wrap;
    justify-content: center;
}

.header-container__left__search-form {
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.header-container__left__search-form__submit-button {
    width: 200px;
}

.header-container__right {
    flex-direction: column;
    padding-right: 10px;
    padding-left: 10px;
}

.header-container__right__registration {
    padding: 15px;
}

.hd-r-r-l {
    margin-left: 0;
}

.recipes-preview__block-description {
    text-align: center;
    gap: 20px;
}

.recipes-preview__cards {
    justify-content: center;
}

.recipes-preview__card {
    width: 100%;
}

.recipes-preview__card__button-box {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center !important;
}

.recipes-preview__pagination span{
    font-size: 25px;
}

.header-container__left__filter-description__parent__subtitle{
    font-size: 20px;
}

.header-container__left__filter-description__children__content {
    font-size: 20px;
}

.header-filter-container__button {
    font-size: 20px;
}

.add-recipe__form__first-block__img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.add-recipe__form__first-block__img a {
    text-align: center;
    word-break: break-all;
}

.add-recipe__form__first-block__img input {
    font-size: 15px;
    width: 200px;
}

.add-recipe__form {
    font-size: 20px;
    padding-left: 20px;
    padding-right: 20px;
    width: 479px;
}

.add-recipe__form__first-block {
    justify-content: center;
    align-items: center;
}

.add-recipe__form__second-block__categories {
    flex-direction: column;
}

.add-recipe__form__third-block {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ingredient-form {
    justify-content: center;
}

.ingredient-form__content {
    gap: 8px;
}

.ingredient-form__content-second {
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.add-recipe__form__third-block__cooking-time input {
    width: 100px;
    text-align: center;

}

.add-recipe__form__third-block__quantity-of-servings input {
    width: 100px;
    text-align: center;
}

.add-recipe__form__fifth-block button {
    font-size: 20px;
}

.add-recipe__form__fifth-block__content a {
    font-size: 20px;
}

.add-recipe__form__sixth-block__step-form textarea {
    width: 390px;
}

.add-recipe__form__sixth-block__delete-button {
    font-size: 20px;
}

.add-step-form {
    font-size: 20px;
}

.submit-recipe-form {
    font-size: 20px;
}

.select2-selection__rendered {
    font-size: 20px;
}

.select2-selection {
    padding-top: 5px;
    padding-bottom: 35px;
    width: 150px;
}

.select2-selection__arrow {
    right: -55px !important;
}

.select2-dropdown--below {
    width: 150px !important;
}

.ingredient-form__content-second__unit-of-measurement {
    font-size: 20px;
}

.delete-form {
    font-size: 20px;
}

.add-recipe__form__fifth-block__content {
    font-size: 20px;
}

.delete-step-form {
    font-size: 20px;
    margin-bottom: 20px;
}

.about-user__title {
    font-size: 25px;
}

.about-user__info {
    font-size: 25px;
}

.about-user__links {
    flex-direction: column;
    align-items: center;
}

.about-user__links a {
    font-size: 25px;
}

.recipe__card {
    padding-left: calc(50% - $tabletBigResolution / 4);
    padding-right: calc(50% - $tabletBigResolution / 4); 
}

.recipe__card__img-container img {
    width: 60%;
    height: 60%;
}

.recipe__card__description__title {
    font-size: 25px;
}

.recipe__card__cocking-time__preparation__title {
    font-size: 25px;
}

.recipe__card__author__title {
    font-size: 25px;
}

.recipe__card__author__title-span {
    font-size: 25px;
}

.recipe__card__nutritional-value__description-box {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.recipe__card__nutritional-value__description__title {
    font-size: 25px;
}

.recipe__card__nutritional-value__description__subtitle {
    font-size: 25px;
}

.recipe__card__nutritional-value__spoiler__title {
    font-size: 25px;
}

.recipe__card__ingridients__title {
    font-size: 25px;
}

.recipe__card__ingridients__title {
    font-size: 25px;
}

.recipe__card__ingridient-box {
    font-size: 25px;
}

.recipe__card__cooking-steps__title {
    font-size: 25px;
}

.recipe__card__cooking-steps__step__title {
    font-size: 25px;
}

.recipe__card__cooking-steps__step__subtitle {
    font-size: 25px;
}

.recipe__card a {
    font-size: 25px;
}

.confirm-delete {
    padding-left: calc(50% - $tabletBigResolution / 4);
    padding-right: calc(50% - $tabletBigResolution / 4); 
}

.confirm-delete__form {
    text-align: center;
    font-size: 25px;
}

.registration__data {
    padding-left: calc(50% - $tabletBigResolution / 4);
    padding-right: calc(50% - $tabletBigResolution / 4); 
}

.password-reset {
    padding-left: calc(50% - $tabletBigResolution / 4);
    padding-right: calc(50% - $tabletBigResolution / 4); 
    text-align: center;
}

.password-reset__title {
    font-size: 25px;
}

.password-reset__form__content {
    font-size: 25px;
}

.password-reset-confirm {
    padding-left: calc(50% - $tabletBigResolution / 4);
    padding-right: calc(50% - $tabletBigResolution / 4); 
}

.password-reset-complete__title {
    padding-top: 20px;
    font-size: 25px;
}

.password-reset-complete__link {
    margin-top: 20px;
    margin-bottom: 20px;
}

.add-product {
    padding-left: calc(50% - $tabletBigResolution / 4);
    padding-right: calc(50% - $tabletBigResolution / 4); 
}

.add-product__form__content {
    flex-direction: column;
    font-size: 20px;
}

.add-product__form__content input {
    font-size: 20px;
}

.add-product__form-button {
    margin-top: 20px;
}