//tablet css

.center {
    padding-left: calc(50% - $tabletWithSite / 2);
    padding-right: calc(50% - $tabletWithSite / 2);
}    

.menu {

    &__menu-list {
        width: 385px;
    }

    &__sections {
        flex-direction: row;
        gap: 30px;
    }
}    

.about-store {  
    &__title {
        font-size: 44px;
        line-height: 30px;
    }

    &__title_luxerios {
        font-size: 24px;
    }

    &__title_fashion {
        font-size: 24px;      
    }
}

.offer {
    grid-template-rows: repeat(1, 167px);
    grid-template-columns: repeat(3, 232px);
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 154px;
}

.offer-content {
    padding: 58px 39px;
    background-size: cover;

    &__title {
        font-size: 16px;
        font-weight: 400px;
    }

    &__span {
        font-size: 24px;
        font-weight: 700px;
    }

    &__big {
        grid-column: span 3;
        padding: 33px 288px; 
    }
}

.filter {
    
}

.goods {
    &__cards {
        padding-top: 42px;
        padding-bottom: 32px;
        grid-template-columns: repeat(2, 360px);
        gap: 16px;
    }
}

.feature {
    flex-direction: column;
    margin-top: 64px;
    padding-top: 48px;
    padding-bottom: 16px;

    &__content {
        padding: 0;
    }

    &__subtitle {
        padding: 0 33px 38px 33px;
        width: 360px;
    }
}

.subscribe {
    padding-top: 54px;
    padding-bottom: 140px;
    flex-direction: column;
    align-items: center;
    gap: 0;

    &__form-box {
        padding-top: 27px;
    }
}

.element-hide {
    display: none;
}