
@import '../vars';


.add-recipe {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 130px;
    padding-top: 64px;
    padding-bottom: 96px;

    background: linear-gradient(to bottom left, $cardEndGradientBgColor, $cardStartGradientBgColor);

    &__data {
        display: flex;
        flex-direction: column;
        gap: 34px;
    }

    &__personal-info {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 360px;
    }

    &__title {
        color: white;
        font-size: 30px;
        font-weight: 500;
        text-align: left;
    }

    &__input {
        border: 1px solid rgb(164, 164, 164);
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 17px;

        &::placeholder {
            color: rgb(177, 177, 177);
            font-size: 30px;
            font-weight: 300;
            text-align: left;            
        }

    }

    &__radio-buttons {
        display: flex;
        gap: 10px;
        color: white;
        font-size: 30px;
        font-weight: 300;
    }

    #female {
        margin-left: 10px;
    }

    &__login-info {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: 360px;
    }

    &__subtitle {
        color: rgb(177, 177, 177);
        font-size: 30px;
        font-weight: 300;
        text-align: left;

        margin-top: -7px;
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        // width: 167px;
        margin-top: 19px;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
        border: none;

        color: rgb(0, 0, 0);
        font-size: 30px;
        font-weight: 400;
        line-height: 17px;
        text-align: left;

        opacity: 0.67;
        background-color: rgb(225, 225, 225);
        border-radius: 20px 20px;

    }

    &__advertising {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 652px;
        gap: 22px;
    }

    &__adv-title {
        color: rgb(255, 255, 255);
        font-size: 24px;
        font-weight: 500;
        text-align: center;

    }

    &__ul {
        padding-left: 22px;
        list-style-image: url(/img/registartion_img/ul_img.svg);
    }

    &__li {
        color: rgb(255, 255, 255);
        font-size: 24px;
        font-weight: 400;

        padding-bottom: 16px;
        padding-left: 22px;
    }
}

.choose {
    display: flex;
}