@import '../vars';

.password-reset-done {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

    background: linear-gradient(to bottom left, $cardEndGradientBgColor, $cardStartGradientBgColor);

    color: white;
    font-size: 25px;

    &__title {
        display: flex;
        margin-top: 20px;
    }

    &__subtitle {
        display: flex;
        padding-left: 20px;
    }
}