@import '../vars';

.password-reset-complete {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

    background: linear-gradient(to bottom left, $cardEndGradientBgColor, $cardStartGradientBgColor);

    color: white;
    font-size: 25px;

    &__link {
        display: flex;
        justify-content: center;

        opacity: 0.67;
        background-color: rgb(225, 225, 225);

        padding: 10px;
        border-radius: 20px;

        color: black;
    }
}