@import '../vars';


.user-password-change {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    background: linear-gradient(to bottom left, $cardEndGradientBgColor, $cardStartGradientBgColor);

    color: white;
    font-size: 25px;

    &__title {
        display: flex;

    }

    &__form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;

        &__content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 20px;
        }

        &__content input {
            font-size: 20px;
            padding: 5px;
        }
    }

    &__link {
        display: flex;
        justify-content: center;

        opacity: 0.67;
        background-color: rgb(225, 225, 225);

        padding: 10px;
        border-radius: 20px;

        color: black;
    }

    &__button {
        display: flex;
        justify-content: center;
        font-size: 25px;
        margin-top: 20px;
        margin-bottom: 20px;

        opacity: 0.67;
        background-color: rgb(225, 225, 225);

        padding: 10px;
        border-radius: 20px;

        color: black;
    }


}